[alias]
  s = status
  st = status
  di = diff
  dc = diff --cached
  ds = diff --staged
  aa = add --all
  co = checkout
  b = branch
	br = branch
	sta = stash
  ci = commit -v
  cm = commit -m
	fixup = commit --fixup
	squash = commit --squash
	unstage = reset HEAD
  pr = pull-request
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	llog = log --date=local
	flog = log --pretty=fuller --decorate
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	blog = log origin/master... --left-right
	rum = rebase master@{u}
[branch]
	autosetupmerge = always
	autosetuprebase = always
[color]
	ui = always
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	excludesfile = /Users/bronson/.gitignore_global
	editor = vim
	pager = less -x4
[credential]
	helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[rebase]
  autosquash = true
[user]
	name = Bronson McKinley
	email = mckinley@users.noreply.github.com
[push]
	default = current
[pull]
	rebase = true
